<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uama.microservices.provider.ruleengine.dao.iot.IotRuleNodeMapper">
	<resultMap id="BaseResultMap" type="com.uama.microservices.provider.ruleengine.model.iot.IotRuleNode">
		<!--
		  WARNING - @mbg.generated
		-->
		<id column="id" jdbcType="VARCHAR" property="id"/>
		<result column="rule_chain_id" jdbcType="VARCHAR" property="ruleChainId"/>
		<result column="node_additional_info" jdbcType="VARCHAR" property="nodeAdditionalInfo"/>
		<result column="node_configuration" jdbcType="VARCHAR" property="nodeConfiguration"/>
		<result column="node_type" jdbcType="CHAR" property="nodeType"/>
		<result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
		<result column="intime" jdbcType="TIMESTAMP" property="intime"/>
		<result column="inuser" jdbcType="VARCHAR" property="inuser"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
	</resultMap>

	<select id="getRuleNodesForActorSystem" resultType="com.uama.microservices.api.ruleengine.model.vo.rulenode.MIotRuleEngineRuleNodeInitV">
		/*FORCE_MASTER*/
		SELECT
		id AS id,
		node_type AS nodeType,
		node_configuration AS nodeConfiguration,
		rule_chain_id AS ruleChainId
		FROM
		iot_rule_node
		WHERE
		1 = 1
		<if test="ruleChainIdList != null and ruleChainIdList.size > 0">
			AND rule_chain_id IN (
			<foreach collection="ruleChainIdList" separator="," item="ruleChainId">
				#{ruleChainId}
			</foreach>
			)
		</if>
	</select>
</mapper>